@charset "utf-8";
/* ==========================================================================
   Icons inline svg files
   https://www.materialui.co/icons
   https://materialdesignicons.com/
   ========================================================================== */
.material-icon-inline {
  display: inline-block;
  width: 1.5rem;
  height: 1.3rem;
  background-size: 1.5rem;
  background-repeat: no-repeat;
}

.icon-boot,
.icon-delete,
.icon-save,
.icon-tick {
  background-repeat: no-repeat;
  background-size: 1.2rem;
  background-position: 10% 50%;
  padding-left: 2rem;
}

.icon-boot {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" version="1.1" width="48" height="48"><g fill="rgb(177,36,74)" fill-opacity="1"><path d="M20.528 1.59c-.977.001-2.01.069-3.08.204C12.124 2.47 5.884 4.798.918 9.137l5.152 29.525.05 1.545c-.005 1.548.078 3.332.123 4.718l9.018 1.313 1.403-3.295c.852.142 1.715.268 2.582.382l1.634 2.927c12.337 1.465 21.78-.188 26.478-3.384.003-1.229.197-2.474-.05-3.512-2.282-7.472-9.379-13.462-20.776-8.496l.066-2.603.002-.019-4.166-2.202-5.44 3.881-1.661-2.368 4.24-3.025-4.233-2.237 1.335-2.57 5.535 2.926 5.32-3.797.25-2.512-4.648-2.782-5.412 3.482-1.547-2.445 4.188-2.695-4.305-2.576 1.468-2.495 5.553 3.323 5.709-3.673c.223-3.2-3.307-4.892-8.257-4.883z"/><path d="M28.39 10.168l-2.543 1.636 2.247 1.345zM27.15 22.67l-2.08 1.485 1.837.97.243-2.455z"/></g></svg>');
}
.icon-check {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M14 10H2v2h12v-2zm0-4H2v2h12V6zM2 16h8v-2H2v2zm19.5-4.5L23 13l-6.99 7-4.51-4.5L13 14l3.01 3 5.49-5.5z" fill="rgb(0,0,10)" fill-opacity="1"/></svg>');
}
.icon-delete {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z" fill="rgb(0,0,10)" fill-opacity="1"/></svg>');
}
.icon-delete-all {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15 16h4v2h-4zm0-8h7v2h-7zm0 4h6v2h-6zM3 18c0 1.1.9 2 2 2h6c1.1 0 2-.9 2-2V8H3v10zM14 5h-3l-1-1H6L5 5H2v2h12z" fill="rgb(0,0,10)" fill-opacity="1"/></svg>');
}
.icon-download {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z" fill="rgb(0,0,10)" fill-opacity="1"/></svg>');
}
.icon-power {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13 3h-2v10h2V3zm4.83 2.17l-1.42 1.42C17.99 7.86 19 9.81 19 12c0 3.87-3.13 7-7 7s-7-3.13-7-7c0-2.19 1.01-4.14 2.58-5.42L6.17 5.17C4.23 6.82 3 9.26 3 12c0 4.97 4.03 9 9 9s9-4.03 9-9c0-2.74-1.23-5.18-3.17-6.83z" fill="rgb(0,0,10)" fill-opacity="1"/></svg>');
}
.icon-save {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><g fill="rgb(0,0,10)" fill-opacity="1"><path d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-10H5V5h10v4z"/></g></svg>');
}
.icon-refresh {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4V1L8 5l4 4V6c3.31 0 6 2.69 6 6 0 1.01-.25 1.97-.7 2.8l1.46 1.46C19.54 15.03 20 13.57 20 12c0-4.42-3.58-8-8-8zm0 14c-3.31 0-6-2.69-6-6 0-1.01.25-1.97.7-2.8L5.24 7.74C4.46 8.97 4 10.43 4 12c0 4.42 3.58 8 8 8v3l4-4-4-4v3z" fill="rgb(0,0,10)" fill-opacity="1"/></svg>');
}
.icon-tick {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><g fill="rgb(0,0,10)" fill-opacity="1"><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></g></svg>');
}
.icon-upload {
  background-image: url('data:image/svg+xml;utf8,svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z" fill="rgb(0,0,10)" fill-opacity="1"/></svg>');
}
