@charset "utf-8";
/*Colours:                   *
 * Dark Font: #00000a        *
 * Light Font #f7f7f7        *
 * Dark background: #262626  *
 * Light background: #f7f7f7 *
 * Primary: #00c2c8          *
 * Primary Dark: #00b7ba     *
 * Inverse: #b1244a          *
 * Divider: #bdbdbd          */
body {
  min-height: 92vh;                                        /*Fix for mobiles*/
  margin: 0;
  padding: 0;
  font-size: 90%;
  font-family: Arial, Helvetica, sans-serif;
  color: #00000a;
  background: url("../svg/background_circles.svg") no-repeat center center fixed;
  background-size: cover;
}
a:link,
a:visited,
a:hover {
  color: #00000a;
  text-decoration: none;
}
code {
  font-size: 1.1rem;
}
img {
  border: none;
}
img.full {
  width: 100%;
}
p {
  margin: 0 0 0.5em 0;
  font-size: 1rem;
}
p.indent {
  margin: 0 0 1.2rem 1.5em;
}
p.small {
  margin: 0.1em 0.5em 0em 1em;
  font-size: 0.7rem;
}
p.light {
  margin: 0 0 0 0.5em;
  font-size: 0.8rem;
  color: grey;
}
ol,
ul {
  margin: 0;
}
.pointer {
  cursor: pointer;
}
h1 {
  margin: 0.5em;
  font-size: 1.8rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
}
h2 {
  font-size: 1.6rem;
  font-weight: normal;
}
h4 {                                                       /*Font for Error*/
  font-size: 2.2rem;
  font-weight: normal;
  text-align: center;
  color: #444;
}
h4 img {
  width: 3rem;
  margin: 1rem 1rem 0 0;
}
h5 {
  margin: 0 0.5em 0.5em 0;
  padding: 0.2em 0.5em;
  font-size: 1.5em;
  font-weight: 400;
  text-align: left;
  border-bottom: 2px solid #00b7ba;
}
h6 {
  margin: 0.3rem 0.5rem;
  font-size: 1.3em;
  font-weight: 500;
  color: #444;
}
@media only screen and (max-width:480px), only screen and (max-device-width:480px) {
  h1 {
    margin: 0 0 2rem 0;
    padding: 0.5rem;
    font-size: 3em;
    letter-spacing: 0.2rem;
  }
}
pre {
  width: 90%;
  margin: 0.5rem auto 1rem;
  padding: 0.5rem;
  font-size: 1.1rem;
  background-color: #f7f7f7;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  white-space: pre-wrap;
  overflow-y: auto;
}
@media only screen and (max-width:1200px), only screen and (max-device-width:1200px) {
  pre {width: 90%}
}
@media only screen and (max-width:640px), only screen and (max-device-width:640px) {
  pre {width: 96%}
}


/* ==========================================================================
   Form Items
   ========================================================================== */
input[type="date"],
input[type="number"],
input[type="text"],
input[type="password"] {
  width: 24rem;
  max-width: 95%;
  height: 1.5rem;
  margin: 0.2rem 0;
  padding-left: 0.2rem;
  font-size: 1rem;
  color: #00000a;
  background-color: #fafafa;
  border: 2px solid #757575;
  border-radius: 4px;
}
select {
  width: 98%;/*calc(96% - 1rem);*/
  height: 1.9rem;
  margin: 0.2rem 0rem;
  padding-left: 0.2rem;
  font-size: 1.05rem;
  color: #00000a;
  background-color: #fafafa;
  border: 2px solid #757575;
  border-radius: 4px;
}
textarea {
  width: 96%;
  max-width: 26.4rem;
  font-size: 1.1em;
  padding-left: 0.2em;
  color: #00000a;
  background-color: #fafafa;
  border: 2px solid #757575;
  border-radius: 4px;
}
input[type="date"]:focus,
input[type="number"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
  border: 2px solid #00c2c8;
}
input[type="text"].textbox-small {
  width: 15em;
}
/*input[type="text"].full { DEPRECATED?
  width: 96%;
}*/
input[type="number"].input-conf,
input[type="text"].input-conf {
  width: 96%;
  max-width: 24rem;
}
input[type="number"].fixed10 {
  width: 10em;
}
select.input-conf {
  width: 98.5%;
  max-width: 24.6rem;
}
input[type="reset"],
input[type="submit"],
button {
  padding: 0.4rem 1.25rem;
  font-size: 0.94rem;
  text-align: center;
  color: #00000a;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.7), inset 0 0 4px #666;
  display: inline-block;
  background-color: #00c2c8;
  cursor: pointer;
}
input[type="reset"]:hover,
input[type="submit"]:hover,
button:hover {
  opacity: 0.92;
}
input[type="reset"]:focus,
input[type="submit"]:focus,
button:focus {
  opacity: 0.82;
}
input[type="reset"]:active,
input[type="submit"]:active,
button:active {
  transform: translateY(3px);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7), inset 0 0 6px #666;
  opacity: 0.74;
}

.button-danger {
  background-color: #b1244a !important;
}
.button-grey {
  background-color: #c8c8c8 !important;
}
.button-yellow {
  background-color: #ffe808 !important;
}
.button-small {
  min-width: 1.2rem;
  margin-right: 0.2rem;
/*   height: 1.2rem; */
  background-color: #c8c8c8;
/*   border: none; */
  border-radius: 4px;
  box-shadow: inset 0 0 4px #666;
  padding: 0.25rem;
  display: inline-block;
}
.button-small img {
  width: 0.8rem;
  display: inline;
/*   height: 100%; */
}


.button-scroll {
  position: fixed;
  bottom: 1.2em;
  right: 1.2em;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  z-index: 300;
  display: none;
  background-color: #b1244a;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
}
.button-scroll img {
  width: 100%;
}
.button-scroll:active {
  bottom: 1.1em;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  transform: translateY(4px);
}
.centered {
  text-align:center;
}
.sys-group {
  width: 90%;
  margin: 0.9em auto;
  padding: 0.5rem 0.5rem 0.7rem;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  background-color: #f7f7f7;
  display: table;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width:640px), only screen and (max-device-width:640px) {
  .sys-group {width: 96%;}
}


/* ==========================================================================
   Paginate / Sub Navigation
   ========================================================================== */

.pag-nav {
  margin: 0 0.2em 0.4em;
  font-size: 0.9em;
  float: left;
}
.pag-nav ul {
  padding: 0;
  list-style: none;
}
.pag-nav a,
.pag-nav span {
  display: inline-block;
  padding: 0.5em 0.8em;
}
.pag-nav li {
  margin-right: 0.15rem;
  border-radius: 4px;
  background-color: #c8c8c8;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 0 3px #666;
  display: inline-block;
}
.pag-nav li.active {
  background-color: #00c2c8;
}
a.pag-exwide {                                                       /*Wide button on blocked.php*/
  width: 7em;
  text-align: center;
}
.pag-nav li:hover {
  opacity: 0.92;
}
.pag-nav li:focus {
  opacity: 0.82;
}
.pag-nav li:active {
  transform: translateY(1px);
  box-shadow: inset 0 0 6px #666;
  opacity: 0.74;
}


/* ==========================================================================
   Group By (similar to pag-nav, but using radio buttons instead)
   ========================================================================== */

#groupby-container {
  margin: 0 0.1em 0.4em;
  float: right;
}
#groupby-container > input {
  display: none;
}
#groupby-container > label {
  padding: 0.5em 0.8em;
  margin-right: 0.15rem;
  border-radius: 4px;
  background-color: #c8c8c8;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 0 3px #666;
  display: inline-block;
}
#groupby-container > label:hover {
  opacity: 0.92;
}
#groupby-container > label:focus {
  opacity: 0.82;
}
#groupby-container > label:active {
  transform: translateY(1px);
  box-shadow: inset 0 0 6px #666;
  opacity: 0.74;
}
#groupby-container > input:checked + label {
  background-color: #00c2c8;
}

#groupby-container:after {
  clear: both;
}

/* ==========================================================================
   Tables
   ========================================================================== */

table {
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}
td,
th {
  padding: 0.45rem 0.6rem;
  border-bottom: 1px solid #bdbdbd;
}
th {
  color: #666;
}
tr {
  background-color: #fbfbfb;
}
tr:hover {
  filter: brightness(90%);
}
tr.blocked,
td.blocked {
  background-color: #eb5d66;
}
/*tr.invalid,*/
td.red,
span.key-red {
  background-color: #ee202b;
}
tr.local,
td.local {
  background-color: #93a0ff;
}
tr.dark {
  background-color: #999;
}
tr.cyan {
  background-color: #00eaee;
}
tr.gray {
  color: Grey;
}
td.orange,
span.key-orange {
  background-color: #ffa704;
}
td.green,
span.key-green {
  background-color: #06c36b;
}


/* Access Table on blocked.php
   ========================================================================== */
#access-table td:nth-child(1), #access-table th:nth-child(1) {
  width: 15%;
  text-align: center;
}
#access-table td:nth-child(2), #access-table th:nth-child(2) {
  width: 10%;
  text-align: center;
}
#access-table th:nth-child(3), #access-table th:nth-child(3) {
  width: 14%;
  text-align: center;
}
#access-table th:nth-child(4), #access-table th:nth-child(4) {
  width: 58%;
}
#access-table td img {
  width: 3em;
  padding: 0 0.2rem;
}


/* Block Table on config-functions.php
   ========================================================================== */
#block-table td:nth-child(1), #block-table th:nth-child(1) {
  width: 8%;
  text-align: center;
}
#block-table td:nth-child(2), #block-table th:nth-child(2) {
  width: 20%;
}
#block-table td:nth-child(3), #block-table th:nth-child(3) {
  width: 35%;
}
#block-table td:nth-child(4), #block-table th:nth-child(4) {
  width: 35%;
}


/* Cfg Custom Table on customblocklist.php
   ========================================================================== */
#cfg-custom-table {
  margin-top: 2rem;
}
#cfg-custom-table td:nth-child(1), #cfg-custom-table th:nth-child(1) {
  width: 8%;
  text-align: center;
}
#cfg-custom-table td:nth-child(2), #cfg-custom-table th:nth-child(2) {
  width: 34%;
}
#cfg-custom-table td:nth-child(3), #cfg-custom-table th:nth-child(3) {
  width: 34%;
}
#cfg-custom-table td:nth-child(4), #cfg-custom-table th:nth-child(4) {
  width: 14%;
  text-align: center;
}


/* Live Table on live.pph
   ========================================================================== */
#livetable td:nth-child(1) {
  width: 11%;
  text-align: center;
}
#livetable td:nth-child(2) {
  width: 54%;
}
#livetable td:nth-child(3) {
  width: 13%;
}
#livetable td:nth-child(4) {
  width: 20%;
}
@media only screen and (max-width:480px), only screen and (max-device-width:480px) {
  #livetable td:nth-child(3) {
    display: none;
  }
}


/* Query Tables on queries.php
   ========================================================================== */
#query-group-table td:nth-child(1),
#query-group-table th:nth-child(1),
#query-time-table td:nth-child(1),
#query-time-table th:nth-child(1) {
  width: 2.5rem;
  text-align: center;
}
#query-group-table td:nth-child(2),
#query-group-table th:nth-child(2) {
  width: 11%;
  text-align: center;
}
#query-group-table td:nth-child(3),
#query-group-table th:nth-child(3) {
  width: 56%;
}
#query-group-table td:nth-child(4),
#query-group-table th:nth-child(4) {
  width: 13%;
  text-align: center;
}
#query-group-table td:nth-child(5),
#query-group-table th:nth-child(5) {
  width: 15%;
  text-align: center;
}

#query-time-table td:nth-child(2),
#query-time-table th:nth-child(2) {
  width: 15%;
  text-align: center;
}
#query-time-table td:nth-child(3),
#query-time-table th:nth-child(3) {
  width: 25%;
  text-align: center;
}
#query-time-table td:nth-child(4),
#query-time-table th:nth-child(4) {
  width: 45%;
}
#query-time-table td:nth-child(5),
#query-time-table th:nth-child(5) {
  width: 12%;
  text-align: center;
}
#query-group-table th a, #query-time-table th a {
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

#query-group-table button,
#query-time-table button {
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
}
#query-group-table img,
#query-time-table img {
  width: 2.4rem;
}
/* DHCP Table on dhcp.php
   ========================================================================== */
#dhcp-table td:nth-child(1), #dhcp-table th:nth-child(1) {
  width: 21%;
  text-align: center;
}
#dhcp-table td:nth-child(2), #dhcp-table th:nth-child(2) {
  width: 34%;
}
#dhcp-table td:nth-child(3), #dhcp-table th:nth-child(3) {
  width: 22%;
  text-align: center;
}
#dhcp-table td:nth-child(4), #dhcp-table th:nth-child(4) {
  width: 17%;
  text-align: center;
}


/* Analytics Table on analytics.php
   ========================================================================== */
#analytics-table td:nth-child(1),
#analytics-table th:nth-child(1) {
  width: 2.6rem;
  text-align: center;
}
#analytics-table td:nth-child(2),
#analytics-table th:nth-child(2) {
  width: 1rem;
  text-align: center;
}
#analytics-table td:nth-child(3),
#analytics-table th:nth-child(3) {
  width: 60%;
}
#analytics-table td:nth-child(4),
#analytics-table th:nth-child(4) {
  text-align: center;
}
#analytics-table td:nth-child(5),
#analytics-table th:nth-child(5) {
  text-align: center;
}
#analytics-table td:nth-child(6),
#analytics-table th:nth-child(6) {
  width: 2rem;
}
#analytics-table img {
  width: 2.4rem;
}
@media only screen and (max-width:1000px), only screen and (max-device-width:1000px) {
  #analytics-table td:nth-child(3),
  #analytics-table th:nth-child(3) {
    width: 50%;
  }
}
@media only screen and (max-width:480px), only screen and (max-device-width:480px) {
  #analytics-table td:nth-child(3),
  #analytics-table th:nth-child(3) {
    width: 40%;
  }
}

/* Top Level Domain Tables on config-functions.php
   ========================================================================== */
.tld-table {
  border-spacing: 0 1px;
}
.tld-table td {
  padding: 0.4em 0.6em;
}
.tld-table td:nth-child(1) {
  width: 12%;
  border-radius: 2px;
  padding-left: 1em;
  text-align: center;
}
.tld-table td:nth-child(2) {
  width: 32%;
}
.tld-table td:nth-child(3) {
  width: 38%;
}
.tld-table td:nth-child(4) {
  width: 12%;
  text-align: center;
}
.tld-table img {
  margin-right: 0.2rem;
  width: 1.9rem;
}

@media only screen and (max-width:480px), only screen and (max-device-width:480px) {
  .tld-table td:nth-child(1) {
    width: 20%;
  }
  .tld-table td:nth-child(2) {
    width: 28%;
  }
  .tld-table td:nth-child(3) {
    width: 38%;
  }
  .tld-table td:nth-child(4) {
    width: 8%;
  }
}

/* Sys Table on global-functions.php, config-functions.php, security.php
   ========================================================================== */
.sys-table td:nth-child(1) {
  width: 25%;
  text-align: right;
  font-weight: bold;
}
.sys-table th:nth-child(1) {
  width: 25%;
  text-align: left;
  background-color: #999;
  padding-left: 0.5em;
}
.sys-table td:nth-child(2), .sys-table th:nth-child(2) {
  width: 70%;
}
.sys-table a {
  font-size: 0.7em;
}
.sys-table img {
  margin: 0 0.1rem;
  width: 1.1rem;
}


/* Other table settings
   ========================================================================== */
#access-table td,
#query-group-table td,
#query-time-table td,
#livetable td {
  overflow: auto;  /*Can't use overflow in config table in Chrome*/
}


/* ==========================================================================
   Side Menu
   ========================================================================== */

#main {
  margin: 3.8rem 0 0 14rem;
  transition: margin-left 0.5s;
}
#menu-side {
  position: fixed;
  width: 14rem;
  top: 3.2rem;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0.2rem 0 0 0;
  background: linear-gradient(to right, rgba(0, 25, 27, 0.9) 3rem, rgba(0, 32, 34, 0.9) 3rem);
  color: #f7f7f7;
  display: block;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: line;
  z-index: 200;
  overflow: hidden;
}
#menu-side:hover{
/*   position: fixed; */
  width: 14rem;
}
#menu-side a {
  width: 98%;
  height: 2.2rem;
  line-height: 2.2rem;
  margin: 0.2rem 0;
  padding: 0.1rem;
  border-radius: 4px;
  color: #f7f7f7;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}
#menu-side a:hover {
  background-color: rgba(0, 45, 49, 0.95);
  box-shadow: inset 0 0 4px #00c2c8;
}
#menu-side img {
  width: 2rem;
  height: 2rem;
  margin: 0 0.7rem 0 0.2rem;
  display: inline-flex;
}
#menu-side div {
  white-space: nowrap;
  font-size: 0.8rem;
  padding: 0;
}
#menu-side div > img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1.1rem 0 0.7rem;
}
#menu-side-status {
  margin-top: 1em;
  font-size: 0.9rem;
}
#menu-side-bottom {
  display: inline-block;
  margin-top: 2rem;
}

@media only screen and (max-width:1000px), only screen and (max-device-width:1000px) {
  /*Half window view - Display side menu in icon-only form, allowing onmouseover (hover) to expand menu out to show text as well*/
  #main {
    margin: 3.8rem 0 0 3rem;
  }
  #menu-side {
    width: 3rem;
  }
}
@media only screen and (max-width:480px), only screen and (max-device-width:480px) {
  /*Mobile view - Side menu is hidden and we rely on the hamburger button to show the menu*/
  #main {
    margin: 3.8rem 0 0 0rem;
  }
  #menu-side {
    width: 0rem;
  }
}


/* ==========================================================================
   Top Menu
   ========================================================================== */

#menu-top {
  width: 100%;
  height: 3.2rem;
  top: 0;
  left: 0;
  background-color: rgba(1, 95, 100, 0.95);
  position: fixed;
  z-index: 100;
  display: flex;
  flex-wrap: nowrap
}
#menu-top img {
  width: 2.0rem;
  height: 2.0rem;
  padding: 0.5rem 0.4rem 0.3rem;
  display: inline-flex;
  border-radius: 4px;
  background-color: rgba(1, 81, 85, 0.98);
  box-shadow: inset 0 0 4px #00454a;
}
#menu-top span {
  color: #f7f7f7;
}
#menu-top span.hamburger {
  height: 2.1rem;
  margin: 0.2rem 0.1rem 0.2rem 0.2rem;
  padding: 0.4rem 0.7rem 0.3rem;
  font-size: 1.4rem;
  border-radius: 4px;
  background-color: rgba(1, 81, 85, 0.98);
  box-shadow: inset 0 0 4px #00454a;
}
#menu-top span.logo {
  margin: 0 1rem;
  font-size: 1.8rem;
  line-height: 3.1rem;
  letter-spacing: 1px;
}
#menu-top-group {
  margin: 0.2rem 0.3rem 0.2rem auto;
  height: 2.8rem;
  display: inline;
}
#pause-group {
  margin: 0.2rem 3rem;
}
#dropbutton {
  height: 2.8rem;
  display: inline;
}
#pause-menu {
  position: absolute;
/*   margin-left: -4rem; */
  font-size: 1rem;
  border: 1px solid #262626;
  border-radius: 4px;
  background-color: rgba(1, 73, 77, 0.98);
  z-index: 102;
  opacity: 0;    /* use opacity to fake immediate toggle */
  visibility: hidden;
  transition: visibility 0.5s;
}
#pause-menu span {
  height: 2.2rem;
  width: 11.2rem;
  line-height: 2.2rem;
  padding: 0.1rem 0.5rem;
  border-radius: 4px;
  display: block;
}

#dropbutton:focus {
  pointer-events: none;  /* clicking on label should toggle the menu */
}
#dropbutton:focus #pause-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
#menu-top img:hover,
#pause-menu span:hover {
  box-shadow: inset 0 0 4px #00c2c8;
}
#menu-top img:active,
#pause-menu span:active {
  background-color: #03a9b1;
  box-shadow: inset 0 0 4px #00c2c8;
}

/* Mobile adjustments for menu
   ========================================================================== */

@media only screen and (max-width:480px), only screen and (max-device-width:480px) {
  #menu-top span.logo {
    margin: 0 0.5em;
    font-size: 1.4rem;
/*   line-height: 3.1rem; */
    letter-spacing: 0px;
  }
  #pause-group {
    margin: 0.2rem 0.5rem;
  }
  /*#menu-top img {
    width: 2.0rem;
    height: 2.0rem;
    padding: 0.5rem 0.rem 0.3rem;
    display: inline-flex;
  }*/
}
/* Print adjustments for menu
   ========================================================================== */
@media only print {
  nav,
  #menu-top {
    display: none;
  }
  #main {
    margin: 0;
  }
}


/* ==========================================================================
   Lower Top Menu
   ========================================================================== */

#menu-lower,
#dnsfilter-container {
  height: 2.6rem;
  margin-top: -0.6rem;
  padding: 0.2rem 0.5rem 0 0.8rem;
  background-color: rgba(0, 110, 116, 0.95);
}
#menu-lower img {
  width: 2rem;
  height: 2rem;
  padding: 0.1rem;
  margin: 0 0.3rem;
  border-radius: 4px;
  background-color: rgba(1, 90, 96, 0.98);
  box-shadow: inset 0 0 4px #222;
  display: inline;
  float: left;
}
#menu-lower input[type="text"] {
  display: inline;
  float: left;
  margin-right: 1rem;
  width: 16rem;
  max-width: 35%;
  background-color: #eee;
}
#menu-lower img:hover {
  box-shadow: inset 0 0 4px #00c2c8;
}
#menu-lower img:active {
  background-color: rgba(1, 63, 65, 0.98);
  box-shadow: inset 0 0 4px #00c2c8;
}

#dnsfilter-container {
  display: flex;
  flex-direction: row;
/*   justify-content: flex-start; */
  align-items: stretch;
}

#dnsfilter-container div:nth-of-type(1) { 
  flex: 3 1 auto;
}
#dnsfilter-container div { 
  display: inline-flex;
  flex: 1 1 auto;
}
#dnsfilter-container select,
#dnsfilter-container input[type="text"] {
  width: 100%;
  margin-right: 0.5rem;
}
#menu-lower button,
#dnsfilter-container button,
#dnsfilter-container input[type="submit"] {
  height: 2.3rem;
}
/* ==========================================================================
   Config Navigation
   ========================================================================== */

.conf-nav {
/*   margin: 0.5rem auto; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.conf-nav > a {
  flex-basis: 28%;
  flex-grow: 0;
  height: 3rem;
  margin: 0.5rem 1%;
  padding: 0.4em 1em;
  font-size: 1.1em;
  border-bottom: 1px solid #bdbdbd;
}
.conf-nav > a:hover {
  border-bottom: 1px solid #00c2c8;
}
.conf-nav > a > img {
  height: 100%;
  margin-right: 1rem;
  float: left;
}
.conf-nav > a > span {
  float: left;
  margin-top: 1rem;
}
@media only screen and (max-width:1200px), only screen and (max-device-width:1200px) {  /*Windowed view for Conf Nav*/
  .conf-nav {
    flex-wrap: wrap;
  }
  .conf-nav > a {
    flex-basis: 43%;
  }
}
@media only screen and (max-width:480px), only screen and (max-device-width:480px) {    /*Mobile view for Conf Nav*/
  .conf-nav > a {
    flex-basis: 91%;
  }
}

/* ==========================================================================
   Popups for Top Menu
   ========================================================================== */
#fade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.80;
  z-index: 500;
  display: none;
}
#options-box,
#queries-box {
  position: absolute;
  background-color: #f7f7f7;
  border: 3px solid #00b7ba;
  border-radius: 5px;
  display: none;
}
#queries-box {
  width: 36rem;
  height: auto;
  margin: -14rem 0 0 -18rem;
  padding-bottom: 2rem;
  z-index: 501;
}
#queries-box button,
#queries-box input[type="submit"] {
  width: 12rem;
  margin: 0 0.5rem;
  padding: 0.4rem 0;
}
#queries-box span {
  margin: 0.9rem 0.5rem;
  display: block;
}
#queries-box span > span {
  display: inline;
  font-size: 1rem;
}
#queries-box span > a > img {
  height: 4.6rem;
  margin-left: 0.9rem;
  display: inline;
}
#options-box,
#queries-box h3 {
  margin: 1.2rem 0.5rem 1.2rem 1rem;
  font-size: 1.4rem;
  font-weight: normal;
}
#options-box {
  width: 24rem;
  height: 16rem;
  margin: -12rem 0 0 -12rem;
  z-index: 502;
}
#options-box h2,
#queries-box h2 {
  line-height: 1.9rem;
  margin: 0;
  color: #f7f7f7;
  background-color: #262626;
  font-size: 1.2rem;
  text-align: center;
}
#options-box button {
  margin: 1.8rem auto 1rem;
  width: 14rem;
  display: block;
}
.close-button {
  position: absolute;
  right: 0.3rem;
  top: 0.25rem;
  cursor: pointer;
  z-index: 503;
}
.close-button img {
  width: 1.4rem;
}


/* ==========================================================================
   Dropdown menu
   ========================================================================== */

.dropdown-container {
  position: relative;
  display: block;
}
.dropbtn {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  background-size: 1.5rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" fill="rgb(120,120,120)" fill-opacity="1"/></svg>');
  border-radius: 50%;  
  padding: 0.2rem;
}

.dropdown {
  margin-left: -10rem;
  margin-top: -1.5rem;
  position: absolute;
  display: none;
  min-width: 10rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid #bdbdbd;
  background-color: #f1f1f1;
  border-radius: 4px;
  z-index: 50;
}
.dropdown a,
.dropdown span {
  padding: 0.5rem;
  display: block;
  border-radius: 4px;
  cursor: pointer;
}
.dropdown a:hover,
.dropdown span:hover {
  background-color: #00d6d9;                     /*Lighter colour to offset row highlight*/
}
.dropdown-container:hover .dropdown {
  display: block;                                /*Show the dropdown menu on hover*/
  z-index: 50;
}
.dropdown-container:hover .dropbtn {
  background-color: #f1f1f1;
  box-shadow: inset 0 0 3px #aaa;
}


/* ==========================================================================
   Search Box
   ========================================================================== */

#search-box {
  width: 100%;
  margin: 20vh 0;
  display: inline-block;
}
#search-box > div {
  width: 60rem;
  max-width: 85%;
  margin: 0 auto;
  padding: 2rem 0.5rem;
  display: block;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  background-color: #f7f7f7;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#search-box input[type="text"] {
  width: 90%;
  margin: 0.5rem auto;
  display: block;
}
#search-box input[type="submit"] {
  margin: 0.5rem auto;
  display: block;
}

/* ==========================================================================
   Bulk Upload Box
   ========================================================================== */

#bulkBox {
  height: calc(95vh - 10rem);
  line-height: 1.4rem;
}
#bulkBox span {
  padding: 0 0.2rem;
  border: 2px solid green;
  border-radius: 8px;
  display: inline;
}

/* ==========================================================================
   Help Icon
   ========================================================================== */

.help-icon {
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  border: 2px solid #00c2c8;
  border-radius: 50%;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  color: #00b7ba;
  display: inline-block;
}
.help-icon:before {
  content: "?";
}


/* ==========================================================================
   Extra Colours
   ========================================================================== */

span.blue, a.blue {  /*DEPRECATED*/
  color: #008cd1;
}
span.primarydark, a.primarydark {
  color: #00b7ba;
}
span.green, h3.green {
  color: Green;
}
span.purple {
  color: #974be2 !important;
}
span.violet {
  color: DarkViolet;
}
span.red {
  color: #ee202b;
}
span.pink {
  color: #F757F5;
  font-weight: bold;
}
span.gray,
p.grey {
  color: DimGrey;
}
span.darkgray, h3.darkgray {
  color: #202020;
}


/* ==========================================================================
   Other Items
   ========================================================================== */

/* .mobile-hide {display: inline-block;} */
.mobile-show {display: none;}
@media only screen and (max-width:480px), only screen and (max-device-width:480px) {
  .mobile-hide {display: none;}
  .mobile-show {display: inline-block;}
}
.float-left {
  float: left;
}

span.filter {
  width: 5rem;
  margin-right: 0.3em;
  text-align: right;
  display: inline-block;
}
span.blradiolist {
  width: 17rem;
  line-height: 1.5em;
  display: inline-block;
}

span.investigatelink {
  margin-right: 0.5rem;
  display: inline-block;
  float: right;

}
span.investigatelink > a {
  color: #008cd1;
  text-decoration: underline;
}

/* Key for config-functions TLD Blocking
   ========================================================================== */
span.key {
  width: 10em;
  line-height: 1.5rem;
  margin: 0 0 0.2rem 1rem;
  text-align: center;
  font-weight: bold;
  border: 1px solid #00000a;
  border-radius: 4px;
  display: block;
}
